.background{
    -fx-background-color: #ffffff;
}

.labelname{
    -fx-opacity: 0.50;
    -fx-font-family: "Montserrat";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.library-logo{
    -fx-background-image: url("Logo Library+.png");
    -fx-background-repeat: repeat;
}

.textfield{
    -fx-opacity: 0.50;
    -fx-font-family: "Montserrat";
    -fx-font-size: 22;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
    -fx-prompt-text-fill: #000000;
}

.btn{
    -fx-font-family: "Montserrat";
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-background-color: #71C875;
    -fx-background-radius: 12;
    -fx-text-fill: #39643b;
}

.other-btn{
    -fx-opacity: 0.50;
    -fx-font-family: "Montserrat";
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.label{
    -fx-opacity: 0.50;
    -fx-font-family: "Montserrat";
    -fx-font-size: 32;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}